<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Oplentia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Oplentia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/discover">Discover Startups</a></li>
                    <li class="nav-item"><a class="nav-link" href="/leaderboard">Leaderboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile">My Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/my-startup">My Startup</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                    <li class="nav-item" th:if="${session.user == null}"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item" th:if="${session.user == null}"><a class="nav-link" href="/signup/founder">Sign Up</a></li>
                    <li class="nav-item" th:if="${session.user != null}"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div th:replace="::content"></div>

    <footer class="footer mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-3">
                    <h5>Oplentia</h5>
                    <p>Connecting entrepreneurs with stakeholders.</p>
                </div>
                <div class="col-md-3">
                    <h5>Platform</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-white">Home</a></li>
                        <li><a href="/about" class="text-white">About</a></li>
                        <li><a href="/discover" class="text-white">Discover Startups</a></li>
                        <li><a href="/leaderboard" class="text-white">Leaderboard</a></li>
                        <li><a href="/profile" class="text-white">My Profile</a></li>
                        <li><a href="/my-startup" class="text-white">My Startup</a></li>
                        <li><a href="/blog" class="text-white">Blog</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Help Center</a></li>
                        <li><a href="#" class="text-white">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Connect</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Twitter</a></li>
                        <li><a href="#" class="text-white">LinkedIn</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="text-center mb-0">&copy; 2024 Oplentia. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>